{% extends "allianceauth/base.html" %}

{% load static %}

{% block title %}Kill Killmails{% endblock %}

{% block page_title %}
    {% include "framework/header/page-header.html" with title="Kill Killmails" %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% if kill_killmails.exists %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Kill ID</th>
                                <th>System</th>
                                <th>Ship Type</th>
                                <th>ISK Lost</th>
                                <th>Kill Time</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for kill in kill_killmails %}
                                <tr>
                                    <td>{{ kill.killmail_id }}</td>
                                    <td>{{ kill.solar_system_id }}</td>
                                    <td>{{ kill.victim.ship_type_id }}</td>
                                    <td>{{ kill.victim.damage_taken }}</td>
                                    <td>{{ kill.killmail_time|date:"F j, Y, g:i a" }}</td>
                                    <td>
                                        <a href="{% url 'killstory:kill_detail' kill.killmail_id %}" class="btn btn-primary btn-sm">View Details</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No kill mails available at the moment.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
